@media screen and (max-width: 1100px) {
  .park__header {
    padding: 0 24px;
  }
}

.park__header-title {
  font-size: 48px;
  margin: 0 0 24px 0;
}

@media screen and (max-width: 700px) {
  .park__header-title {
    font-size: 28px;
  }
}

.autopark-filter {
  margin: 32px 0;
}

.autopark-filter__body {
  padding: 42px 32px 24px 32px;
  background: var(--accent-second);
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

@media screen and (max-width: 900px) {
  .autopark-filter__body {
    padding: 24px 0;
    background: none;
  }
}

.autopark-filter__selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.autopark-filter__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .autopark-filter__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.autopark__select-car {
  width: 100%;
  margin: 0 32px 0 0;
}

.autopark__select-car:nth-child(1) {
  max-width: 248px;
}

.autopark__select-car:nth-child(2) {
  max-width: 248px;
}

.autopark__select-car:nth-child(3) {
  max-width: 122px;
}

.autopark__select-car:nth-child(4) {
  max-width: 157px;
}

.autopark__select-car.autopark__select-car-popular {
  margin: 0;
}

.autopark__select-car .select__header {
  border: none;
}

@media screen and (max-width: 1180px) {
  .autopark__select-car .select-current {
    font-size: 14px;
  }
}

.autopark__select-car .select-icon {
  margin: 0 0 0 6px;
}

.autopark__select-car .input-label {
  top: -20px;
  left: 0;
  padding: 0;
  background: none;
}

.autopark__select-car .input-label span {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.autopark__select-car .select-item {
  text-transform: none;
}

@media screen and (max-width: 1180px) {
  .autopark__select-car .select-item {
    font-size: 14px;
  }
}

.autopark-filter-burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .autopark-filter-burger {
    min-width: 48px;
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--accent-second);
    -webkit-border-radius: 8px;
            border-radius: 8px;
    margin: 0 0 0 16px;
  }
}

.modal-filter .modal__header {
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.modal-filter .modal-title {
  margin: 0 auto 0 0;
}

.modal-filter .modal-filter-reset {
  font-size: 12px;
  color: var(--second);
  margin: 0 8px 0 auto;
}

.modal-filter .modal-close {
  margin: 0 0 0 0;
}

.modal-filter .modal-callback__inputs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 0;
}

.modal-filter .modal-callback__inputs .autopark__select-car:not(:last-child) {
  margin: 0 0 32px 0;
}

@media screen and (max-width: 900px) {
  .modal-filter .modal-callback__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-filter .select__header {
  border: 1px solid var(--outline);
}

.autopark-descr {
  background: #fff;
}

.autopark-descr-text {
  text-align: center;
  margin: 0 auto;
}
