@media screen and (max-width: 700px) {
  .price {
    padding: 24px 0 0 0;
  }
  .price .container {
    padding: 0;
  }
}

.price__body {
  background: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 100px;
}

@media screen and (max-width: 500px) {
  .price__body h1 {
    font-size: 28px;
  }
}

.price__body h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 64px 0 32px 0;
}

@media screen and (max-width: 500px) {
  .price__body h2 {
    font-size: 24px;
    margin: 32px 0 16px 0;
  }
}

.price__body h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 64px 0 32px 0;
}

@media screen and (max-width: 500px) {
  .price__body h3 {
    font-size: 20px;
    margin: 32px 0 16px 0;
  }
}

.price__body p {
  line-height: 1.6;
  margin: 32px 0;
}

@media screen and (max-width: 500px) {
  .price__body p {
    margin: 16px 0;
  }
}

@media screen and (max-width: 900px) {
  .price__body {
    padding: 64px;
  }
}

@media screen and (max-width: 700px) {
  .price__body {
    padding: 32px 24px;
  }
}

.price__acc__header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__acc__header__item {
  width: 33.333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid var(--outline);
  cursor: pointer;
}

.price__acc__header__item._active {
  border-bottom: 4px solid var(--accent);
}

.price__acc__header__item._active .price__acc__header-title {
  color: var(--main);
}

.price__acc__header-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--accent);
}

.price__acc__header-date {
  font-size: 12px;
  color: var(--third);
  margin: 4px 0 0 0;
}

.price__acc__body {
  margin: 24px 0 0 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.price__acc__body__item {
  min-width: 760px;
}

.price__acc__body__item table {
  width: 100%;
}

.price__acc__body__item tr {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--outline);
}

.price__acc__body__item tr td {
  width: 40%;
}

.price__acc__body__item tr td:nth-child(1) {
  max-width: 416px;
  width: 100%;
  font-weight: 600;
  color: var(--accent);
}

.price__acc__body__item tr td:nth-child(2),
.price__acc__body__item tr td:nth-child(6) {
  width: 30%;
}

.price__acc__body__item tr:nth-child(1) {
  color: var(--third);
}

.price__acc__body__item tr:nth-child(1) td:nth-child(1) {
  color: var(--third);
}

.price__services {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 900px) {
  .price__services {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.price__faq__item {
  border-bottom: 1px solid var(--outline);
}

.price__faq__item:first-child {
  border-top: 1px solid var(--outline);
}

.price__faq__item._show .price__faq-icon span::before {
  height: 0;
}

.price__faq__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  cursor: pointer;
}

.price__faq-title {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .price__faq-title {
    font-size: 16px;
  }
}

.price__faq-icon {
  position: relative;
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 3px solid var(--accent);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin: 0 0 0 16px;
}

.price__faq-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 2px;
  background: var(--accent);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.price__faq-icon span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--accent);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.price__faq-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.price__faq-content__body {
  padding: 0 0 24px 0;
}
