.main {
  padding: 120px 0 0 0;

  @media screen and (max-width: 700px) {
    padding: 110px 0 0 0;
  }
}

.main__body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    justify-content: initial;
  }
}

.main__content {
  min-width: 500px;
  width: 500px;

  @media screen and (max-width: 900px) {
    min-width: auto;
    max-width: 500px;
    width: 100%;
    margin: 20px 0 0 0;
  }
}

.main-title {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.main__rent {
  margin: 30px 0 0 0;

  @media screen and (max-width: 900px) {
    margin: 0;
  }
}

.main__price {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;
}

.main__price-all {
  font-size: 56px;
  font-weight: 700;
  color: $accent;

  @media screen and (max-width: 500px) {
    font-size: 40px;
  }
}

.main__price__correction {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
}

.main__price-day {
  font-weight: 600;

  @media screen and (max-width: 370px) {
    font-size: 14px;
  }
}

.main__price-deposit {
  color: $second;

  @media screen and (max-width: 370px) {
    font-size: 14px;
  }
}

.main-btn {
  font-size: 18px;
  font-weight: 700;
  padding: 18px 82px;
  margin: 20px 0 0 0;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.main__selects {
  width: 100%;
  display: flex;
  align-items: center;
}

.main__select-car {
  width: 304px;
  margin: 0 8px 0 0;

  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

.main__select-day {
  width: 72px;

  @media screen and (max-width: 900px) {
    width: 20%;
  }
}


.main__image {
  position: relative;
  margin: 0 -60px 0 0;

  @media screen and (max-width: 900px) {
    margin: 0;
  }
}

.main__image-car {
  position: relative;
  z-index: 1;

  @media screen and (max-width: 900px) {
    transform: translate(70px,0);
  }

  @media screen and (max-width: 700px) {
    & img {
    width: 520px;
    }
  }

  @media screen and (max-width: 500px) {
    & img {
    width: 400px;
    }
  }
}

.main__image-rock {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-142px);

  @media screen and (max-width: 700px) {
    transform: translate(-50%,-100px);
  }
}

.main__image-traced-back {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-34%,-74px);

  @media screen and (max-width: 900px) {
    transform: translate(70px,0);
  }

  @media screen and (max-width: 700px) {
    & img {
      width: 80%;
    }
  }
}

.main__image-traced-front {
  position: absolute;
  bottom: 40px;
  left: -110px;
  transform: translate(0);
  z-index: 1;

  @media screen and (max-width: 900px) {
    transform: translate(70px,0);
  }

  @media screen and (max-width: 700px) {
    & img {
      width: 80%;
    }
  }
}