.park-title {
  font-size: 12px;
  font-weight: 400;
  color: $second;
  margin: 0 0 12px 0;
}

@import '_park-class';
@import '_park-car';

.park-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 56px 0 0 0;
}

.park-more-link {
  width: 280px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}